$icomoon-font-family: "sellercommerce" !default;
$icomoon-font-path: "fonts" !default;

$sc-ico-extranal-link: "\e926";
$sc-ico-catalogue: "\e912";
$sc-ico-group: "\e913";
$sc-ico-categories: "\e914";
$sc-ico-assets: "\e900";
$sc-ico-clock: "\e915";
$sc-ico-allowence: "\e917";
$sc-ico-information-path1: "\e918";
$sc-ico-information-path2: "\e919";
$sc-ico-information-path3: "\e91a";
$sc-ico-settings: "\e901";
$sc-ico-template: "\e902";
$sc-ico-orders: "\e903";
$sc-ico-products-copy-path1: "\e91b";
$sc-ico-products-copy-path2: "\e91c";
$sc-ico-products-copy-path3: "\e91d";
$sc-ico-products-copy-path4: "\e91e";
$sc-ico-products-copy-path5: "\e91f";
$sc-ico-reports: "\e904";
$sc-ico-products-path1: "\e905";
$sc-ico-products-path2: "\e906";
$sc-ico-products-path3: "\e907";
$sc-ico-products-path4: "\e908";
$sc-ico-products-path5: "\e909";
$sc-ico-branding: "\e920";
$sc-ico-balnce: "\e922";
$sc-ico-sales: "\e923";
$sc-ico-tools: "\e90a";
$sc-ico-employees: "\e90b";
$sc-ico-cart: "\e925";
$sc-ico-dashboard: "\e90c";
$sc-ico-notification: "\e90d";
$sc-ico-shop: "\e90e";
$sc-ico-top-nav: "\e90f";
$sc-ico-menu-bar: "\e910";
$sc-ico-calendar: "\e911";
$sc-ico-search: "\e986";
$sc-ico-question: "\ea09";

